.card {
  position: relative;
  overflow: hidden;
}
.destination-card__route {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  left: 0;
  position: absolute;
  text-transform: uppercase;
  color: transparent;
  background-image: linear-gradient(
    rgba(129, 81, 81, 0.199),
    rgba(109, 95, 95, 0.788)
  );
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.726);
  -webkit-text-stroke-width: 0.1rem;
  -webkit-background-clip: text;
  backdrop-filter: blur(0.1rem);
}
.Argentina {
  background-color: rgb(76, 228, 255);
}
.Brasil {
  background-color: rgba(70, 189, 46, 0.938);
}
.Colombia {
  background-color: rgb(251, 255, 26);
}
.Peru {
  background-color: rgb(255, 0, 0);
}
.destination-card__description {
  background-color: var(--container-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 80%;
  left: 0;
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  z-index: 200;
}
.card:hover .destination-card__description {
  display: flex;
  visibility: visible;
  top: 0%;
  opacity: 1;
}
.card__price {
  color: var(--tertiary-color);
  font-weight: bold;
  font-size: 1.5rem;
}
.homepage__destinations {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(20rem, 2fr));
}
.homepage__destination-card__img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
.homepage__feature-container {
  width: max(25%, 10rem);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  text-align: center;
}
.homepage__feature-svg {
  width: 1.75rem;
  height: 1.75rem;
  color: var(--tertiary-color);
}
.homepage__feature-name {
  --tertiary-color: hsl(170, 100%, 15%);
  font-weight: bolder;
  color: var(--tertiary-color);
  text-transform: uppercase;
}
.homepage__feature-des {
  --tertiary-color: hsla(170, 100%, 15%, 0.548);
  color: var(--tertiary-color);
  font-size: 0.9rem;
}
.home-service__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  padding-left: 1rem;
}
.home-service__container div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 1.8rem;
  grid-template-areas: "image text";
}
.home-service__container h5 {
  grid-area: text;
  display: flex;
  align-items: center;
}
.home-service__container svg {
  grid-area: image;
  fill: var(--tertiary-color);
  height: 4rem;
  align-self: end;
}

.homepage__review-container {
  background: linear-gradient(
    248deg,
    rgba(255, 127, 41, 1) 23%,
    rgba(255, 75, 75, 1) 64%
  );
  min-height: 30rem;
}
.homepage__review-item__container {
  width: min(24rem, 100%);
  background-color: var(--bg-color);
  padding: 1.5rem;
  border-radius: 1rem;
  position: relative;
  transform: translateY(0);
  transition: 0.5s;
}
.homepage__review-item__container:hover {
  transform: translateY(-1rem);
}
.review__comment {
  font-size: 1.06rem;
  word-spacing: 0.5rem;
  line-height: 1.5rem;
}
.review__comment::before,
.review__comment::after {
  font-size: 3rem;
  color: var(--tertiary-color);
}
.review__comment::after {
  content: "❞";
  position: absolute;
  bottom: -0.5rem;
}
.review__comment::before {
  content: "❝";
  font-size: 3rem;
  position: relative;
  top: 0.2rem;
}
.review__user-name {
  font-weight: 700;
  font-size: 0.9rem;
  text-decoration: lined;
}
.newsletter__input {
  border: thin solid var(--tertiary-color);
  padding: 0.2rem 0.5rem;
}
.newsletter__container {
  background: url("https://images.unsplash.com/photo-1682685797208-c741d58c2eff?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80")
    center no-repeat;
  background-size: cover;
  color: var(--font-color-primary);
  height: min(20rem, 100vh);
  width: 100%;
  position: relative;
}
.newsletter__container > * {
  z-index: 100;
}
.newsletter__container::after {
  content: "";
  width: 100%;
  background-color: rgba(0, 0, 0, 0.233);
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.newsLetter__form {
  margin-top: auto;
}
.newsletter__font {
  font-size: 0.9rem;
}
.newsletter__font-a {
  text-decoration: underline;
}
@media (max-width: 700px) {
  .homepage__destinations {
    grid-template-columns: repeat(1, minmax(15rem, 2fr));
  }
  .home-service__container {
    grid-template-columns: 1fr;
    padding-left: 0.8rem;
  }
}
@media (max-width: 400px) {
  .homepage__destinations {
    grid-template-columns: repeat(1, minmax(15rem, 2fr));
  }
  .newsletter__container {
    height: 100vh;
  }
}
