.hero-section {
  position: relative;
  height: calc(100vh - var(--header-height));
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: brightness(0);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color-primary);
  text-align: center;
}
.hero-section-small {
  height: max(35rem, 50vh);
}
.hero-section::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: black;
  filter: opacity(0.5);
  position: absolute;
}
.hero-section div {
  z-index: 100;
}
.hero-image_title {
  margin-bottom: 0.5em;
  font-size: 5em;
}
.hero-image_slogan {
  font-size: 1.8em;
  margin-bottom: 2em;
}
.button {
  font-size: inherit;
  font-family: inherit;
  padding: 1.5em 2em;
  outline: 0;
  border-radius: 0.5em;
  border: 0;
}
.hide {
  display: none;
}
.section-title {
  font-size: 2em;
  margin: 3rem auto;
  text-align: center;
  font-weight: 700;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  padding-bottom: 2em;
}
.destination-card {
  display: flex;
  width: max(20rem, 90%);
  flex-flow: row-reverse wrap;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 2rem;
  padding: 2em 0 3em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.destination-card_images {
  height: 20rem;
  width: max(30%, 20rem);
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
}
.destination-card_images img {
  width: 48%;
  height: 90%;
  object-fit: cover;
  border-radius: 1rem;
}
.destination-card_description {
  padding-left: 0.5em;
  width: min(120%, 20rem);
  display: flex;
  flex-direction: column;
}
.card-title {
  font-size: 1.2em;
  position: relative;
}
.card-title::after {
  content: "";
  width: 80%;
  height: 0.2rem;
  bottom: -0.3em;
  left: 0;
  background-color: black;
  position: absolute;
}
.card-title_small {
  font-size: 0.85em;
  font-weight: 500;
}
.card-description {
  margin: 1em 0;
  line-height: 1.4em;
}
.button-medium {
  font-size: inherit;
  width: max(50%, 8rem);
  height: min(6rem, 3em);
  align-self: center;
}
