.hero-section {
  position: relative;
  height: calc(100vh - var(--header-height));
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: brightness(0);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color-primary);
  text-align: center;
}
.hero-section-small {
  height: max(35rem, 50vh);
}
.hero-section::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: black;
  filter: opacity(0.5);
  position: absolute;
}
.hero-section div {
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-evenly;
}
.hero-image_title {
  font-size: max(4em, 8vw);
}
.hero-image_slogan {
  font-size: max(2em, 4vw);
}
.button {
  font-size: inherit;
  font-family: inherit;
  width: max(20vw, 8rem);
  padding: 1.5em 0;
  outline: 0;
  border-radius: 0.5em;
  border: 0;
}
.hide {
  display: none;
}
.first-container {
  max-width: var(--max-width);
  margin: auto;
}
.section-title {
  font-size: 2em;
  margin: 3rem auto;
  text-align: center;
  font-weight: 700;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 0 2em 2em;
}
.destination-card {
  width: 18rem;
  height: 20rem;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  border-radius: 2rem;
  padding: 0 1em 1em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  overflow: hidden;
  transition: transform 0.5s, height 0.3s;
}
.destination-card_images {
  height: 17.5rem;
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
}
.destination-card_images img {
  width: 48%;
  height: 80%;
  object-fit: cover;
  border-radius: 1rem;
}
.destination-card_description {
  display: flex;
  padding-left: 0.5em;
  flex-direction: column;
  opacity: 0.7;
  transition: opacity 0.2s;
}
.destination-card:hover {
  transform: scale(1.1);
  height: 38rem;
}
.destination-card:hover .destination-card_description {
  opacity: 1;
}
.card-title {
  font-size: 1.2em;
  margin-right: auto;
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 0.1rem;
}
.card-title_small {
  font-size: 0.85em;
  font-weight: 500;
}
.card-description {
  margin: 1em 0;
  line-height: 1.4em;
}
.button-medium {
  font-size: inherit;
  width: max(50%, 8rem);
  height: min(6rem, 3em);
  align-self: center;
}
.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  gap: 1em;
}
.list-column {
  align-self: flex-end;
  list-style: none;
  min-height: 10rem;
  width: max(15rem, 10%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2em;
}
.list-item-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.list-item-link svg {
  transform: scale(1.5);
}
.main-wrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.info-wrapper{
  margin: 0 auto;
  width: 80%;
  padding: 1em;
  margin: 2em 0;
}
.info_title{
  font-size: 1.5em;
  margin-bottom: 1.5em;
  text-align: center;
}
.info_content{
  padding: 0.5em;
  line-height: 1.5rem;
}
.info_content-title{
  font-size: 1.1em;
  margin:1em 0;
}
.info_privacy-list{
  margin: 1em 0;
  padding-left: 2em;
}