.nav {
  display: flex;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--font-color-primary);
  max-width: var(--max-width);
  margin: 0 auto;
}
.navbar {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  z-index: 999;
}
.navbar-item {
  min-width: 8rem;
  max-width: 16rem;
}
.item-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  font-size: 1.1em;
}
.item-link::after {
  content: "";
  position: absolute;
  bottom: -0.2rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0%;
  height: 0.2rem;
  background-color: black;
  border-radius: 0.2rem;
  transition: width 0.3s;
}
.item-link:hover.item-link::after {
  width: 100%;
}
@media (max-width: 650px) {
  .navbar {
    position: fixed;
    padding-bottom: 5rem;
    top: var(--header-height);
    flex-direction: column;
    width: 100%;
    background-color: var(--bg-color);
    height: calc(100vh - var(--header-height));
    background-color: var(--tertiary-color);
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    transform: translate(-400%);
    align-items: center;
  }
  .item-link {
    justify-content: center;
    gap: 2rem;
  }
  .open {
    transform: translate(0);
  }
}
@media (max-width: 850px) {
  .navbar-item {
    min-width: 5rem;
  }
}
