.header {
  height: var(--header-height);
  border-bottom: thin solid black;
}
.nav{
  display: flex;
  background-color: violet;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar{
  background-color: gainsboro;
  display: flex;

}
