.section__pay {
  min-height: calc(100vh - 22rem);
}
.pay__svg-container {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: thin solid var(--tertiary-color);
}
.pay__svg-info {
  height: 90%;
  width: 90%;
}
.pay__empty-container {
  background-color: var(--font-color-primary);
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  position: relative;
}
.pay__empty-container::after {
  position: absolute;
  top: -2rem;
  left: 4.8rem;
  content: "";
  clip-path: polygon(50% 0%, 0 100%, 100% 100%);
  width: 2rem;
  height: 2rem;
  background-color: var(--font-color-primary);
}
.pay__svg-cart {
  height: 2rem;
  width: 2rem;
}
