.banner {
  height: min(100vh, 25rem);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}
.subNavbar {
  bottom: 0;
  left: 1rem;
}
