.banner,
.banner__md {
  height: min(100vh, 22rem);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}
.banner__md {
  width: 80%;
  height: 18rem;
}
.subNavbar {
  bottom: 0;
  left: 1rem;
}
.tour__description {
  line-height: 1.8rem;
  text-align: center;
  letter-spacing: 0.05rem;
}
.active {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  bottom: 0;
  color: var(--font-color-primary);
}
.a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.a.active {
  animation: navLink 0.5s forwards;
}
.tour__price {
  font-size: 1.1rem;
}
.tour-info__item {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem 0.5rem;
  border-top: 0.15rem solid hsla(170, 100%, 16%, 0.164);
  border-bottom: 0.15rem solid hsla(170, 100%, 16%, 0.164);
}
.tour-info__item > * {
  width: max(45%, 14rem);
}
.tour-info__body {
  line-height: 1.8rem;
  word-spacing: 0.2rem;
}
.tour-info__body-sm {
  margin-left: 3rem;
  line-height: 1.5rem;
  word-spacing: 0.15rem;
}
.tour-info__comment {
  line-height: 1.8rem;
  word-spacing: 0.09rem;
}
.tour__photo {
  height: 15rem;
  width: 15rem;
  object-fit: cover;
}
.tour-info__number {
  position: absolute;
  top: -1rem;
  left: -1.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--tertiary-color);
  color: var(--font-color-primary);
  font-size: 1.5rem;
  z-index: 100;
}
.line {
  position: absolute;
  left: 0;
  top: 1rem;
  width: 0.1rem;
  height: 80%;
  border-left-style: dotted;
}
.line__shadow-bottom {
  box-shadow: 0.2rem 0.2rem 0.25rem var(--tertiary-color);
}
.tour__map {
  width: 100%;
  height: 40rem;
}
.tour__gallery-container {
  width: 100%;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, minmax(15rem, 4fr));
  grid-gap: 0.5rem;
}
.tour__gallery-container > div {
  width: 100%;
  height: 100%;
}
.tour__gallery-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tour__gallery-container div:nth-child(4) {
  grid-column: span 2;
  height: 15rem;
  width: 100%;
}
.tour__gallery-container div:nth-child(1) {
  grid-row: span 2;
  height: 100%;
  width: 100%;
}
.tour__user-photo {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  border-radius: 50%;
}
.rating__container {
  width: 15rem;
}
.star__container {
  width: 7rem;
}
.tour__rating-star {
  width: 1.4rem;
  height: 1.1rem;
}
.tour__rating-star path {
  color: white;
  stroke: var(--tertiary-color);
  stroke-width: 1rem;
}
.tour__rating-star.on path {
  color: var(--primary-color);
  stroke-width: 0;
}
@keyframes navLink {
  from {
    height: 100%;
  }
  to {
    height: 5rem;
    border-top-left-radius: 0.5rem;
  }
}
@media (max-width: 800px) {
  .tour__gallery-container {
    grid-template-columns: repeat(2, minmax(15rem, 4fr));
  }
}
@media (max-width: 500px) {
  .tour__gallery-container {
    grid-template-columns: repeat(1, minmax(15rem, 4fr));
  }
  .tour__gallery-container div:nth-child(4) {
    grid-column: span 1;
    height: 15rem;
    width: 100%;
  }
  .tour__gallery-container div:nth-child(1) {
    grid-row: span 1;
    height: 100%;
    width: 100%;
  }
}
