html {
  font-size: clamp(100%, 110%, 120%);
  font-family: "Raleway", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
  font-size: 100%;
}
a {
  font-size: inherit;
  color: inherit;
}
:root {
  --header-height: 5rem;
  --bg-color: hsl(36, 100%, 99%);
  --primary-color: hsl(24, 100%, 50%);
  --secondary-color: hsl(0, 100%, 22%);
  --tertiary-color: hsl(171, 100%, 16%);
  --font-color-primary: hsl(0, 0%, 93%);
}
.svg-holder-image {
  width: 3rem;
  height: 3rem;
  background-color: var(--secondary-color);
  border-radius: 50%;
}
.logo-holder {
  width: 4rem;
  height: 4rem;
  background-color: black;
}
.header {
  height: var(--header-height);
  padding: 0 1rem;
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
  z-index: 999;
}
.hamburger-btn {
  display: none;
  flex-direction: column;
  place-content: center;
  position: fixed;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 0%);
  height: 3rem;
  width: 3rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
  z-index: 999;
  margin-bottom: 1rem;
}
.hamburger-btn.open {
  transform: translate(50%, 0%);
}
.bar {
  width: 1.5rem;
  height: 0.2rem;
  background-color: var(--bg-color);
  margin: 0.26rem auto;
  transition: 0.5s;
}
.hamburger-btn.open .bar:nth-child(1) {
  display: none;
}
.hamburger-btn.open .bar:nth-child(2) {
  transform: translateY(5px) rotate(45deg);
}
.hamburger-btn.open .bar:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}
@media (max-width: 850px) {
  .svg-holder-image {
    display: none;
  }
  .logo-holder {
    display: block;
  }
}
@media (max-width: 650px) {
  .header {
    padding: 0;
  }
  .hamburger-btn {
    display: flex;
  }
}
