html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
* {
  padding: 0;
  margin: 0;
}
a{
  font-size: inherit;
  color: inherit;
}
:root {
  --header-height: 5rem;
}
.svg-holder-image {
  width: 3rem;
  height: 3rem;
  background-color: gray;
  border-radius: 50%;
}
